@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@using System.Text.Json;
@{
    long LangId = 1;
    try
    {
        LangId = (HttpContextAccessor.HttpContext.Session.Get("LanguageId") == null ? default(long) :
        JsonSerializer.Deserialize<long>(HttpContextAccessor.HttpContext.Session.Get("LanguageId")));
        if (LangId == null)
        {
            NWRWS.Common.SessionWrapper.Set<long>(HttpContextAccessor.HttpContext.Session, "LanguageId", 1);
            LangId = 1;
        }
    }
    catch
    {
    }
}
<!-- Hidden-Id Start -->
<input type="hidden" id="LanguageId" value="@LangId" />
<!-- Hidden-Id End-->
<!-- main-page start-->
<div class="site-main">
    <!-- sidebar -->
    <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 content-area order-lg-2">
                    <!-- ttm-service-single-content-are -->
                    <div class="topprint">
                        <div class="print">
                            <a href="javascript:void(0);" onclick="PrintPressReleasePDF()"><i class="fa fa-print" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="ttm-service-single-content-area" id="mainPressData">
                    </div>
                    <div class="row mt-25" id="share-btns">
                        <div class="col-lg-12">
                            <div class="clearfix">

                                <div class="social-icons grey-background square float-sm-right">
                                    <span class="fs-18 mr-20">Share :</span>
                                    <ul class="list-inline mb-0 d-inline-block">
                                        <li class="social-facebook">
                                            <a href="#" id="facebook-share"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                        <li class="social-twitter">
                                            <a href="#" id="twitter-share"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                                        </li>
                                        <li class="social-linkedin">
                                            <a href="#" id="linkedin-share"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                        <li class="social-linkedin">
                                            <a href="#" id="whatsapp-share"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Href("~/Users/js/PageDetails/PressCommonFunctions.js")"></script>
