@model CommonCMS.Webs.Models.AdminMenuFromModel

@{
    ViewData["Title"] = "Admin Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var rightsModel = Functions.GetPageRightsCheck(Context.Session);

}

@section Styles {
    <style>
        .modal-dialog {
            max-width: 807px;
        }
    </style>
}

<section class="basic-elements">
    <div class="row">

        <input type="hidden" id="frmPageUpdate" value="@rightsModel.Update.ToString().ToLower()" />
        <input type="hidden" id="frmPageDelete" value="@rightsModel.Delete.ToString().ToLower()" />

        <div class="col-md-12">
            <div class="card card-outline-primary">
                <div class="card-body">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                @if (rightsModel.Insert)
                                {
                                    <button type="button" class="btn btn-outline-primary btn-round mr-2" id="btnAddNew">
                                        <i class="fa fa-plus mr-1"></i>Add New Admin Menu
                                    </button>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered text-center display nowrap table-striped table-bordered scroll-horizontal" id="tbldata">
                                    <thead>
                                        <tr>
                                            <th hidden></th>
                                            <th>#</th>
                                            <th>Menu Name</th>
                                            <th>Menu Type</th>
                                            <th>Menu Rank</th>
                                            <th>Parent Menu</th>
                                            <th>Is Active</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

<script src="/js/PageDetails/AdminMenuMaster/AdminMenu.js?dt=@DateTime.Now.ToString("ddMMyyyyfffttfff")"></script>


<!-- Modal -->
<div class="modal fade text-left" id="mdlAddNew" role="dialog" aria-labelledby="myModalLabel9" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white" id="myModalLabel9"><i class="fa fa-plus"></i> Admin Menu Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmAddEdit">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group mt-2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label">Menu Name</label>
                                    <input type="text" asp-for="Name" class="form-control border-primary" placeholder="Enter Menu Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="MenuRank" class="control-label">Menu Rank</label>
                                    <input type="text" asp-for="MenuRank" class="form-control border-primary" placeholder="Enter Menu Rank">
                                    <span asp-validation-for="MenuRank" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="MenuId" class="control-label">Menu Resource</label>
                                    <select class="form-control" asp-for="MenuId" >
                                        <option value="">--Select Menu Resource--</option>
                                    </select>
                                    <span asp-validation-for="MenuId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="MenuType" class="control-label">Menu Type</label>
                                    <select class="form-control" asp-for="MenuType" >
                                        <option value="">--Select Menu Type--</option>
                                    </select>
                                    <span asp-validation-for="MenuType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4" id="dvParentId">
                                <div class="form-group">
                                    <label asp-for="ParentId" class="control-label">Parent Menu</label>
                                    <select class="form-control" asp-for="ParentId">
                                        <option value="">--Select Parent Menu--</option>
                                    </select>
                                    <span asp-validation-for="ParentId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mt-1">
                                <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                    <br />
                                    <input type="checkbox" class="custom-control-input" asp-for="IsActive"/>
                                    <label class="custom-control-label float-left" for="IsActive">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary btn-round" data-dismiss="modal"><i class="fa fa-times mr-1"></i>Close</button>
                <button type="button" class="btn btn-outline-primary btn-round" id="btnMdlSave"><i class="fa fa-check mr-1"></i>Save</button>
            </div>
        </div>
    </div>
</div>

}
