@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@using System.Text.Json;
@{
    ViewData["Title"] = " CM Album ";
    Layout = "~/Views/Shared/_UserLayoutdst.cshtml";

    long LangId = 1;
    try
    {
        LangId = (HttpContextAccessor.HttpContext.Session.Get("LanguageId") == null ? default(long) :
        JsonSerializer.Deserialize<long>(HttpContextAccessor.HttpContext.Session.Get("LanguageId")));
        if (LangId == null)
        {
            NWRWS.Common.SessionWrapper.Set<long>(HttpContextAccessor.HttpContext.Session, "LanguageId", 1);
            LangId = 1;
        }
    }
    catch
    {
    }
}

<!-- page-title -->
<div class="ttm-page-title-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-box text-left">
                    <div class="breadcrumb-wrapper">
                        @{
                            var stringData = Functions.GetPublicBreadcum(Url, Context, LangId);
                            if (!string.IsNullOrWhiteSpace(stringData))
                            {
                                @Html.Raw(stringData)
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-title end-->
<div class="ltn__gallery-area mb-50 mt-5">
    <div class="container">
        <!--Portfolio Wrapper Start-->
        <div class="row">
            <div class="col-lg-12">
                <div class="row align-items-center">

                    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label>From Date</label>
                            <input type="date" class="form-control border" name="date" id="date"
                                   aria-required="true" onkeypress="return lettersOnly()" maxlength="8">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label>To Date</label>
                            <input type="date" class="form-control border" name="date1" id="date1"
                                   aria-required="true" onkeypress="return lettersOnly()" maxlength="8">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Department</label>
                            <select class="form-control border" id="Department">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Album Name <abbr>*</abbr></label>
                            <input type="text" class="form-control border" name="Title" id="Title"
                                   aria-required="true">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-2 col-sm-6 col-12">
                        <button type="button" id="SearchTR"
                                class="button ttm-btn ttm-btn-size-sm mt-3 Search_button mr-md-3">
                            Search
                        </button>
                        <button type="button" id="SearchClear"
                                class="button ttm-btn ttm-btn-size-sm mt-3 Search_button">
                            Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="ShowCMAlbum">
            <!-- gallery-item -->
        </div>
    </div>
    <!-- Gallery area end -->
</div>
<!-- End Blog Details -->
<!-- pagination-start -->
<div class="row pagination">
    <div class="col-md-12">
        <div class="pagenum">
            <ul id="PaginationGallery">
            </ul>
        </div>
    </div>
</div>
<!-- pagination-end -->
@section Scripts {
    <script src="@Href("~/Admin/js/PageDetails/FrontGallery/ViewAllCMAlbum.js?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>


}